@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&family=Merriweather:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
  margin-block: 0;
  outline: none;
}

body {
  background: url(../images/bg.jpg) center/cover fixed;
}

h1,
h2,
#button,
h4,
label {
  font-family: "Inter", sans-serif;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #f2f3f3;
}

h3,
#adress,
#phone,
#email {
  font-family: "Merriweather", serif;
  font-size: 0.6rem;
  font-weight: 300;
}

#italic {
  font-style: italic;
}

header {
  width: 100%;
  height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
header .header-container {
  width: 90%;
}
header .header-container h3 {
  color: #f2f3f3;
  padding: 30px 0 50px 0;
}
header .header-container #scroll {
  color: #f2f3f3;
  border: 1px solid #f2f3f3;
  padding: 10px 12px;
  border-radius: 150px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
header .header-container #scroll:hover {
  background-color: #ffffff;
  color: #000000;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: transparent;
}

nav {
  background: rgba(255, 255, 255, 0.4666666667);
  border-style: none;
  width: 90%;
  height: 7vh;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navbar-left {
  width: 50%;
}
nav .navbar-left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navbar-left ul li {
  padding: 15px 0px;
  text-align: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav .navbar-left ul li:nth-child(1) {
  width: 33%;
}
nav .navbar-left ul li:nth-child(2) {
  width: 27%;
}
nav .navbar-left ul li:hover {
  background: #ffffff;
}
nav .navbar-right {
  width: 50%;
  padding: 0 10px;
}
nav .navbar-right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav .navbar-right ul .navbar-right ul li {
  padding: 20px 10px;
  text-align: center;
}
nav a {
  color: #f2f3f3;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.6rem;
  padding: 15px 10px;
  font-family: "Inter", sans-serif;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
nav a:hover {
  color: #000000;
}
nav i {
  font-size: 1rem;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  padding: 0 5px;
}
nav i:hover {
  border: 1px solid white;
  padding: 5px;
  background: white;
  border-radius: 50px;
}

#button {
  width: 130px;
  height: 30px;
  border: 1px solid #000000;
  margin: 60px;
  text-transform: uppercase;
  font-size: 0.6rem;
  color: #000000;
  letter-spacing: 2px;
  background: white;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#button:hover {
  color: #f2f3f3;
  background: #000000;
  border: 1px solid #f2f3f3;
}

.form {
  background: #ffffff;
  min-height: 350px;
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 20px;
}
.form label {
  text-transform: uppercase;
  color: #000000;
  font-size: 0.6rem;
  margin: 10px 0;
}
.form input,
.form textarea {
  width: 80%;
  margin: 10px 0;
}
.form input {
  height: 30px;
}
.form textarea {
  height: 100px;
  resize: none;
}

.form-left {
  width: 50%;
  display: block;
  padding: 40px 20px;
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1098039216);
          box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1098039216);
}
.form-left .button-container {
  margin-top: 10px;
}
.form-left #button {
  margin: 0;
  text-align: center;
  padding-top: 8px;
}

.form-right {
  width: 50%;
  display: grid;
  grid-template-columns: 25% 75%;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  padding: 40px 20px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form-right label,
.form-right #adress,
.form-right #phone,
.form-right #email,
.form-right #social {
  padding-left: 25px;
}
.form-right #adress {
  line-height: 20px;
}
.form-right a {
  color: #000000;
  border: 1px solid black;
  border-radius: 50px;
  margin: 0 10px 0 0;
  padding: 4px 0;
  text-align: center;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.form-right a:hover {
  color: #f2f3f3;
  border: 1px solid white;
  background: #000000;
}
.form-right i {
  padding: 5px 0px;
  height: 26px;
  width: 26px;
}

.headline {
  width: 90%;
  margin: 0 auto;
  min-height: 500px;
  background: white;
}

.headline-container {
  display: grid;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1098039216);
          box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.1098039216);
}
.headline-container h3 {
  width: 80%;
  margin: 0 auto;
  font-size: 0.8rem;
  padding: 20px 0;
  position: relative;
}
.headline-container h3::before {
  content: "";
  height: 1px;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 26px;
  left: 20px;
}
.headline-container h3::after {
  content: "";
  height: 1px;
  width: 35%;
  background-color: rgba(0, 0, 0, 0.15);
  position: absolute;
  bottom: 26px;
  right: 25px;
}
.headline-container h2 {
  width: 60%;
  margin: 0 auto;
  color: #000000;
  font-size: 1.7rem;
  padding: 20px 0;
}
.headline-container p {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 30px;
  line-height: 25px;
}
.headline-container .img-headline {
  background: url(../images/pic01.jpg) center/cover;
  height: 350px;
  width: 80%;
  margin: 0 auto;
  padding: 20px 5px;
}

.articles {
  width: 90%;
  margin: 0 auto;
  min-height: 350px;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.articles h4 {
  width: 55%;
  font-size: 1rem;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
}
.articles p {
  font-size: 0.8rem;
  line-height: 20px;
  width: 90%;
  padding-top: 20px;
}
.articles .date {
  text-align: center;
  padding: 20px 0;
}
.articles #button {
  margin: 25px;
}

.articles-left {
  width: 50%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 25px 45px;
  -webkit-box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1098039216);
          box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.1098039216);
}
.articles-left .img-articles-left {
  background: url(../images/pic02.jpg) center/cover;
  height: 210px;
  width: 90%;
  margin: 0 auto;
}

.articles-right {
  width: 50%;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  padding: 25px 45px;
}
.articles-right .img-articles-right {
  background: url(../images/pic03.jpg) center/cover;
  height: 210px;
  width: 90%;
  margin: 0 auto;
}

.interligne,
.footer {
  width: 100%;
  height: 20px;
  background: transparent;
}

.footer {
  height: 40px;
}/*# sourceMappingURL=index.css.map */