body {
  margin: 0;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "c1 c1 c2"
    "c4 c3 c2"
    "c4 c5 c5";
  gap: 10px;
  /* gap peut remplacer les margin */
}

div:nth-child(1) {
  background: yellow;
  grid-area: c1;
  margin: 10px;
}
div:nth-child(2) {
  background: purple;
  grid-area: c2;
  margin: 10px;
}
div:nth-child(3) {
  background: green;
  grid-area: c3;
  margin: 10px;
}
div:nth-child(4) {
  background: red;
  grid-area: c4;
  margin: 10px;
}
div:nth-child(5) {
  background: orchid;
  grid-area: c5;
  margin: 10px;
}
