header {
  width: 100%;
  height: 100vh;
  background: url(../../../assets/img/bg-slider-06.jpg) center/cover;
  color: $white1;
  .navbar {
    width: 80%;
    margin: 0 auto;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 850px) {
      width: 85%;
    }
    #logo {
      width: 15%;
      height: 100%;
      display: flex;
      align-items: center;
      font-family: $cursive;
      font-size: 2rem;
      @media screen and (max-width: 660px) {
        width: 50%;
      }
    }
    nav {
      width: 70%;
      height: 100%;
      @media screen and (max-width: 660px) {
        display: none;
      }
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li a {
          text-transform: uppercase;
          font-family: $light;
          font-size: 0.8rem;
          text-decoration: none;
          @media screen and (max-width: 850px) {
            font-size: 0.6rem;
          }
        }
      }
    }
    .social {
      width: 15%;
      height: 100%;
      @media screen and (max-width: 660px) {
        width: 50%;
      }
      ul {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: end;
        i {
          padding: 10px;
          font-size: 0.8rem;
          @media screen and (max-width: 850px) {
            font-size: 0.6rem;
          }
        }
      }
    }
  }
  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    width: 80%;
    margin: auto auto;
    .title-container {
      width: 80%;
      margin: 0 auto 60px;
      text-align: center;

      .subtitle {
        @include subtitle;
        font-size: 2.5rem;
        text-shadow: 1px 2px 0px #00000040;
      }
      h1 {
        @include title;
        font-family: $medium;
        font-size: 2.5rem;
        letter-spacing: 5px;
        padding-bottom: 50px;
        margin-top: -23px;
        @media screen and (max-width: 400px) {
          font-size: 2rem;
        }
      }
      #ic-plate-big {
        width: 25px;
        height: 25px;
        margin-bottom: 30px;
      }
      p {
        text-transform: uppercase;
        font-family: $light;
        font-size: 0.6rem;
        letter-spacing: 4px;
      }
    }
  }
}
